registry=https://ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/registry/

always-auth=true

; begin auth token
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/registry/:username=ateamv
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/registry/:_password=b2pmM2dnZml1bmd2dWl0NTVpdHVoeWVpY2dvYWY0NnE0NzQ2ZzJhenJmenBvcWxqN3FhcQ==
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/registry/:email=npm requires email to be set but doesn't use the value
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/:username=ateamv
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/:_password=b2pmM2dnZml1bmd2dWl0NTVpdHVoeWVpY2dvYWY0NnE0NzQ2ZzJhenJmenBvcWxqN3FhcQ==
//ateamv.pkgs.visualstudio.com/_packaging/Creatable/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
