registry=https://ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/registry/

always-auth=true

; begin auth token
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/registry/:username=ateamv
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/registry/:_password=nq63q6tdlaqjka3qszqcflhnvf4spvk2hctgoolzpbyjeppyprjq
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/registry/:email=npm requires email to be set but doesn't use the value
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/:username=ateamv
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/:_password=nq63q6tdlaqjka3qszqcflhnvf4spvk2hctgoolzpbyjeppyprjq
//ateamv.pkgs.visualstudio.com/NCR/_packaging/Capa/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


