@import "../../utils/theme.scss";

.cr-typography {
  word-break: keep-all;
  &.em {
    &.MuiTypography-h1 {
      font-size: pxToEm(40);
      line-height: pxToEm(60 + 6);
      font-weight: 600;
    }
    &.MuiTypography-h2 {
      font-size: pxToEm(32);
      line-height: pxToEm(48 + 6);
      font-weight: 600;
    }
    &.MuiTypography-h3 {
      font-size: pxToEm(25);
      line-height: pxToEm(40 + 6);
      font-weight: 600;
    }
    &.MuiTypography-h4 {
      font-size: pxToEm(20);
      line-height: pxToEm(32 + 6);
      font-weight: 600;
    }
    &.MuiTypography-h5 {
      font-size: pxToEm(16);
      line-height: pxToEm(24 + 6);
      font-weight: 600;
    }
    &.MuiTypography-h6 {
      font-size: pxToEm(14);
      line-height: pxToEm(20 + 6);
      font-weight: 600;
    }
    &.MuiTypography-subtitle1 {
      font-size: pxToEm(16);
      line-height: pxToEm(24 + 6);
      font-weight: 500;
    }
    &.MuiTypography-subtitle2 {
      font-size: pxToEm(14);
      line-height: pxToEm(20 + 6);
      font-weight: 500;
    }
    &.MuiTypography-body1 {
      font-size: pxToEm(16);
      line-height: pxToEm(24 + 6);
    }
    &.MuiTypography-body2 {
      font-size: pxToEm(14);
      line-height: pxToEm(20 + 6);
    }
    &.MuiTypography-caption {
      font-size: pxToEm(12);
      line-height: pxToEm(18 + 6);
    }
  }
  &.px {
    &.MuiTypography-h1 {
      font-size: 40px;
      line-height: 60px;
      font-weight: 600;
    }
    &.MuiTypography-h2 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 600;
    }
    &.MuiTypography-h3 {
      font-size: 25px;
      line-height: 40px;
      font-weight: 600;
    }
    &.MuiTypography-h4 {
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
    }
    &.MuiTypography-h5 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
    &.MuiTypography-h6 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    &.MuiTypography-subtitle1 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
    &.MuiTypography-subtitle2 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
    &.MuiTypography-body1 {
      font-size: 16px;
      line-height: 24px;
    }
    &.MuiTypography-body2 {
      font-size: 14px;
      line-height: 20px;
    }
    &.MuiTypography-caption {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
